<section>
<h1>Download Book</h1>
<ul id="recent_posts">
	<li class="post"><a href="http://d.pr/f/qvzU">Kindle version (.mobi)</a></li>
	<li class="post"><a href="http://d.pr/f/DMSx">e-reader version (.epub)</a></li>
</ul>
</section>


<section>
<h1>Book index</h1>
<ul id="recent_posts">
<li class="post">
<a href="/0-disclaimer.html">AFNetworking from zero: Disclaimer</a>
</li>

<li class="post">
<a href="/1-install-setup.html">1. Installing and Setting up the Project</a>
</li>

<li class="post">
<a href="/2-first-contact.html">2. First contact with AFNetworking: Read a simple web</a>
</li>

<li class="post">
<a href="/3-data-consumption.html">3. Standard data consumption</a>
</li>

<li class="post">
<a href="/4-apis.html">4. API’s world</a>
</li>

<li class="post">
<a href="/5-scrapping.html">5. Scrapping the web</a>
</li>

<li class="post">
<a href="/6-migrate-asihttprequest.html">6. Migrate from ASIHTTPRequest</a>
</li>
</ul>
</section>